In [1]:
import sys
sys.getsizeof('abc')

52

In [5]:
mylist = [1, 2, 3]
mytuple = (mylist, 'abc', 10, 20)
print(mytuple)
mytuple[0][1] = 'new value'
print(mytuple)

([1, 2, 3], 'abc', 10, 20)
([1, 'new value', 3], 'abc', 10, 20)

In [8]:
from collections import namedtuple
Point = namedtuple('Point', 'x y')
p = Point(10, 20)
a = (100, 200) # Here a = [100, 200] is the same
a1 = Point(*a)
a2 = Point._make(a)

d = {'x': 30, 'y': 50}
d1 = Point._make(d)
d2 = Point(**d)

print(a1, a2, d1, d2)

Point(x=100, y=200) Point(x=100, y=200) Point(x='x', y='y') Point(x=30, y=50)

In [10]:
from functools import reduce
reduce(lambda x, y: x + y, range(10))

45

In [13]:
print(int('123', base=20))

443

In [16]:
[[i, i*i] for i in range(10)]

[[0, 0],
 [1, 1],
 [2, 4],
 [3, 9],
 [4, 16],
 [5, 25],
 [6, 36],
 [7, 49],
 [8, 64],
 [9, 81]]

In [17]:
words = "silly walk"
{x : words.count(x) for x in words}

{'s': 1, 'i': 1, 'l': 3, 'y': 1, ' ': 1, 'w': 1, 'a': 1, 'k': 1}

In [18]:
class A: pass
a = A()
print(type(A))

<class 'type'>

In [19]:
print(type(a))

<class '__main__.A'>

In [21]:
a.__class__

__main__.A

In [28]:
set('abc') < frozenset('acd')

False

In [23]:
cities

frozenset({'Basel', 'Frankfurt', 'Freiburg'})

In [29]:
from fractions import Fraction

In [30]:
a = Fraction(24, 36)

In [31]:
a

Fraction(2, 3)

In [32]:
lambda x: x+2

In [33]:
lambda x: print(x)

In [36]:
list(map(lambda x: print(x), range(10)))

0
1
2
3
4
5
6
7
8
9

[None, None, None, None, None, None, None, None, None, None]

In [37]:
def partition(A, p, r):
    pivot = A[r]
    i = p - 1
    for j in range(p, r):
        if A[j] < pivot:
            i += 1
            A[i], A[j] = A[j], A[i]
    A[i+1], A[r] = A[r], A[i+1]
    return i+1

In [39]:
import random
A = list(range(10))
random.shuffle(A)
print(A)

[9, 6, 2, 0, 7, 4, 8, 3, 5, 1]

In [40]:
x = partition(A, 0, 9)
print(x, A)

1 [0, 1, 2, 9, 7, 4, 8, 3, 5, 6]

In [41]:
x = partition(A, 2, 9)
print(x, A)

6 [0, 1, 2, 4, 3, 5, 6, 7, 9, 8]

In [68]:
x = [ i for i in range(1, 101)]

In [58]:
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [61]:
for i in range(99, -1, -1):
    if (i+1) % 2 == 1:
        del x[i]

In [62]:
print(x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [63]:
for i in range(49, -1, -1):
    if (i+1) % 2 == 1:
        del x[i]

In [64]:
print(x)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100]

In [65]:
len(x)

25

In [66]:
for i in range(24, -1, -1):
    if (i+1) % 2 == 1:
        del x[i]

In [67]:
print(x)

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96]

In [75]:
A = list(range(1, 10))
count = len(A)
while count > 1:
    for i in range(count-1, -1, -1):
        if (i+1) % 2 == 0:
            del A[i]
    print(A)
    count = len(A)

[1, 3, 5, 7, 9]
[1, 5, 9]
[1, 9]
[1]

In [ ]:
print